.grid-container {
  background-color: #f8f9fc;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 5fr 4fr 1fr;
  grid-template-rows: 1fr 1.5fr 1.5fr 1fr 2fr 2fr 1fr;
  grid-template-areas:
    ". header . . notific ."
    ". logo js js event ."
    ". logo js js blog ."
    ". logo js js contacts ."
    ". java java php php ."
    ". qa qa net net ."
    ". footer footer footer footer .";
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  gap: 0px 0px;
}
.grid-container > div:first-child {
  width: 100vw;
  height: 50px;
  position: fixed;
  background-color: #fff;
}
.grid-container > div {
  display: flex;
  font-family: Arial;
}


.notific {
  grid-area: notific;
  display: flex;
  justify-content: flex-end;
}
.notific div {
  z-index: 2;
  position: fixed;
  display: flex;

}
.notific div img {
  margin-top: 9px;
  margin-right: 1rem;
  opacity: .5;
}
.notific div img:hover {
  opacity: .7;
  cursor: pointer;
}
.notific div p {
  border-radius: 50%;
  margin-top: 8px;
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background-color: #eb9d3f;
  cursor: pointer;
}


.header {
  grid-area: header;
}
.header img {
  width: 115px;
  height: 33px;
  margin-top: 5px;
  z-index: 2;
  position: fixed;
}

.logo {
  grid-area: logo;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.qa {
  grid-area: qa;
  background-color: #70bc7e; 
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: white;
}
.js {
  grid-area: js;
  background-color: #f1d079;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 5rem;
  font-weight: bold;
  font-family: Arial;
  padding-right: .5rem;
}
.java {
  grid-area: java;
  background-color: #cf3e50;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.php {
  grid-area: php;
  background-color: #8a93bc;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-style: italic;
  color: black;
}
.net {
  grid-area: net;
  background-color: #5c2773;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: white;
}
.event {
  grid-area: event;
  background-color: #4d99f7;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
}
.blog {
  grid-area: blog;
  background-color: #18449d;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
}
.contacts {
  grid-area: contacts;
  background-color: #09265b;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
}
.footer {
  grid-area: footer;
  background-color: #f8f9fc;
  justify-self: center;
  align-self: end;
  margin-bottom: 1rem;
}

@media all and (min-width: 992px) {
  .grid-container{
    grid-template-columns: 1fr 2fr 2fr 2.5fr 1.5fr 1fr;
    grid-template-rows: 1.5fr 3fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-areas:
      ". header . . notific ."
      ". logo js php php ."
      ". logo js net event ."
      ". qa js net event ."
      ". qa js net blog ."
      ". qa java net blog ."
      ". qa java net contacts ."
      ". footer footer footer footer .";
  }
}